@import "tailwindcss";

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE and old Edge */
body {
  -ms-overflow-style: none;
}